:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #131538;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  min-height: 100vh;
}

.main{
    display: flex;
}
.message-container{
    width: 100%;
}
.comment-form{
    top: 0;
    align-self: flex-start;
    position: sticky;
    width: 50%;
    bottom: 0;
    left: 0;
    background-color: #3f3e3e;
    border-radius: 10px;
    border: white solid 1px;
    text-align: center;
}
.comment-form textarea{
    min-width: 100%;
    max-width: 100%;
    max-height: 200px;
    min-height: 200px;
}
.comment-form .reply{
    justify-items: center;
}
.comment-form .reply svg{
    fill: white;
    stroke: white;
    cursor: pointer;
}

.form-block{
    background-color: #2d2f2d;
    padding: 20px;
    display: block;
    text-align: center;
}
.form-block input{
    display: block;
    margin-top: 5px;
    width: 100%;
}

.comments-container{
    max-width: 700px;
    margin: auto;

}

.comments-container ul{
    list-style-type: none;
}
.message-header{
    background-color: #213547;
    display: flex;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}
.message-header div{
    margin-right: 10px;
}
.message-text{
    text-align: left;
    background-color: #2a445b;
    padding: 10px;
    border-radius:0 0 10px 10px ;
}

.reply-btn{
    margin-left: auto;
    cursor: pointer;
}
.message-show-reply{
    cursor: pointer;
    min-height: 20px;
}

.message-date{
    font-size: 10px;
}


.message-text code{
    background-color: #131538;
    padding: 5px;
    border-radius: 5px;

}

.message-text a{

}
.message-text i{

}
.message-text strong{

}

.search-bar{
    margin: auto;
    max-width: 700px;
    width: 100%;
    display: flex;
}
.search-bar button{
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    box-shadow: none;
    border: 0;
}
.search-bar button:active {
    /* Скасовуємо ефект нажаття */
    background-color: #405972; /* Можна встановити кольори, які вам потрібні */
    text-decoration: none;
    /* Інші стилі, які вам потрібні */
}
.search-bar input{
    width: 100%;
    min-height: 30px;
    font-size: 16px;
}

.search-nav{
    margin: auto;
    max-width: 700px;
    width: 100%;
}
.search-select{
    border-radius: 5px;
    min-height: 40px;
    font-size: 16px;
    font-weight: 600;
}
.search-select:hover{
    background-color: #2a445b;
}
.search-select:focus{

    border-radius: 5px 5px 0 0;
}
.search-select option{
    border:0;
}
.preview-bg{
    top:0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 21, 56, 0.44);
}
.preview-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #595959;
    max-width: 70%;
    padding: 20px;

    opacity: 0;
    animation: fade-in 0.5s ease-in forwards;
    border: white solid 5px;
}
.preview-window img{
    width: 100%;
}
.preview-window .preview-text{
    width: 100%;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.pre-preview{
    display: flex;
    padding: 5px;
    text-align: left;
}
.pre-preview img,.pre-preview svg{
    background-color: #a0aec0;
    max-height: 50px;
    border: white solid 1px;
}
