:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F0F3F3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  min-height: 100vh;
}

button {
    border: 0;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 17px;
    background-color: #606a77;
}
button:hover {
    background-color: #4b5563;
}

.main{
    margin: auto;
}

.message-container{
    width: 100%;
}

.comments-container{

    max-width: 700px;
    margin: auto;

}

.comments-container ul{
    list-style-type: none;
}
.message-header{
    background-color: #CDDDDE;
    display: flex;
    padding: 10px;

}
.message-header div{
    margin-right: 10px;
}
.message-text{
    text-align: left;
    padding: 10px;

}
.message{
    background-color: #ffffff;
    width: 100%;
    margin: 10px;
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.reply-btn{
    margin-left: auto;
    cursor: pointer;
}
.message-show-reply{
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    color: #4b5563;
}

.message-date{
    font-size: 10px;
}


.message-text code{
    background-color: #343491;
    padding: 5px;
    color: white;
    border: solid 1px black;
}

.message-text a{

}
.message-text i{

}
.message-text strong{

}
.comment-preview{
    color: black;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #000000;
    cursor: pointer;
}

.pagination li.active {
    background-color: #032d56;
    color: white;
}

.pagination li:hover {
    background-color: #007BFF;
    color: white;
}

.search-bar{
    margin: auto;
    max-width: 700px;
    width: 100%;
    display: flex;

}

.search-bar button:active {
    /* Скасовуємо ефект нажаття */
    background-color: #405972; /* Можна встановити кольори, які вам потрібні */
    text-decoration: none;
    /* Інші стилі, які вам потрібні */
}
.search-bar input{
    width: 100%;
    min-height: 30px;
    font-size: 16px;
    background-color: #AEB4B2;
    border: 1px solid #cbd5e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.search-nav{
    margin: auto;
    max-width: 700px;
    width: 100%;
}
.search-select{
    background-color: #949494;

    min-height: 40px;
    font-size: 16px;
    font-weight: 600;
}
.search-select:hover{
    background-color: #888888;
}
.search-select:focus{


}
.search-select option{
    border:0;
}
.preview-bg{
    top:0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 21, 56, 0.44);
}
.preview-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(89, 89, 89, 0.12);
    max-width: 70%;
    padding: 5px;
    opacity: 0;
    animation: fade-in 0.5s ease-in forwards;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.preview-window img{
    width: 100%;
}
.preview-window iframe{
    background-color: #363838;
    width: 100%;
    height: 100%;
    border: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.pre-preview{
    padding: 5px;
    text-align: left;
}
.pre-preview img,.pre-preview svg{
    background-color: #a0aec0;
    max-height: 50px;
    border: white solid 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.comment-form {
    max-width: 500px;
    width: 100%;
    margin: auto;
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    text-align: center;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.comment-form h3 {
    margin-top: 10px;
    color: #333;
}

.form-block {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.form-block input{
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    color: black;
}
.form-block textarea {
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    color: black;
    resize: vertical;
}

.form-block input[type="file"] {
    display: none;
}

.form-block .form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.form-block button {
    background-color: #333; /* Темний колір фону */
    color: #fff; /* Колір тексту */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-block button:hover {
    background-color: #000; /* Колір фону при наведенні */
}

.form-block textarea {
    resize: none;
}

.reply {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reply svg{
    stroke: black;
}


.reply span {
    color: #333;
}

.reply a {
    margin-left: 10px;
    color: #007BFF;
}

.reply a:hover {
    text-decoration: underline;
}

.image-upload svg {
    fill: #333;
}

.image-upload svg:hover {
    fill: #007BFF;
}
.form-block-send{
    display: flex;
    align-items: center;
}

.text-tags{
    display: flex;
}
.text-tags button{
    width: 100%;
    border: 0;
    border-radius: 0;
}

.captcha{
    color: black;
    margin: 5px;
}
.captcha button{
    border-radius: 0;
}

.captcha-form{
    display: inline-flex;
}

.filter-type{
    display: inline-flex;
}

.notification-sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Початкове значення для схованої панелі */
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: right 0.3s; /* Анімація руху панелі */
}

.notification-sidebar h2 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0;
}

.notification-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notification-sidebar li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.notification-sidebar.show {
    right: 0; /* Показати панель */
}

.error{
    color: red;
    font-weight: 700;
}

@media (max-width: 700px) {
    .comment-form {
        width: 100%;
        margin: auto;
        bottom: 0;
        background-color: #f2f2f2;
        text-align: center;
        box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
}

.buttonShowForm{
    position: fixed;
}
.comments-container ul{
    padding: 0;
}
